<div class="flex mt-8">
    <div class="card flex flex-col gap-6 w-full h-240">
        <div class="font-semibold text-xl w-full"></div>
        <p-iconfield iconPosition="left">
            <input pInputText type="text" placeholder="Enter Plan Name" [(ngModel)]="planName"
                   [style]="{'width': '100%', 'height': '40px', 'font-size': '18px' }"
            /> </p-iconfield>
            <div class="flex justify-center mb-20">
                <div class="font-semibold text-xl mb-10"></div>
                <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" alt="Image" width="250" />
            </div>
        <div class="flex justify-center">
            <div class="flex flex-row gap-2 mb-2">
                @for (workout of selectedWorkouts; let i = $index; track i) {
                    <p-button
                        label=""
                        [severity]="isRestSelected(i) ? 'success' : 'danger'"
                        [style]="{'width': '200px', 'height': '50px', 'font-size': '18px'}">
                    </p-button>
                }
            </div>
        </div>
        <div class="flex justify-center">
            <div class="flex flex-col gap-4">
            <div class="flex flex-row gap-2">
                @for (workout of selectedWorkouts; track workout?.id) {
                <p-select
                    [id]="'workoutSelect' + selectedWorkouts.indexOf(workout)"
                    [(ngModel)]="selectedWorkouts[selectedWorkouts.indexOf(workout)]"
                    [options]="workoutlist"
                    optionLabel="name"
                    placeholder="Select Workout"
                    class="w-full"
                    [style]="{'width': '200px', 'height': '50px'}">
                </p-select>
                }
        </div>
        <div class="mb-30">

        </div>
                <div class="flex justify-center gap-2">

                    <p-button label="CREATE CUSTOM WORKOUT" rounded
                              [style]="{'width': '300px', 'height': '40px', 'font-size': '18px' }"
                              [routerLink]="['/menu/workout']"

                    />
                </div>
        <div class="flex justify-center gap-2">

        <p-button label="SAVE PLAN" rounded
                  [style]="{'width': '200px', 'height': '40px', 'font-size': '18px' }"
                  (click)="savePlan()"
                  [routerLink]="['/']"
        />
    </div><div class="flex justify-center gap-2">

                <p-button label="EXIT WITHOUT SAVING" rounded
                          [style]="{'width': '250px', 'height': '50px', 'font-size': '18px' }"
                          [routerLink]="['/']"
                />
    </div>
            </div>
    </div>
</div>
</div>

