
.panel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.full-panel {
    width: 100%;
    height: 100%;
}
:host ::ng-deep .full-panel .p-panel-header {
    position: relative;
    display: flex;
    align-items: center;
}

:host ::ng-deep .full-panel .p-panel-header .p-panel-title,
:host ::ng-deep .full-panel .p-panel-header .p-panel-header-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
}
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
